<mat-card>
  <mat-card-content>

    <mat-card-title>Datos Académicos y Laborales</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>


    <mat-accordion>
      <mat-expansion-panel>

        <mat-expansion-panel-header>
          <mat-panel-title> <b>Datos academicos </b> </mat-panel-title>
          <mat-panel-description> Verifique sus datos academicos. </mat-panel-description>
        </mat-expansion-panel-header>


        <mat-form-field appearance="fill">
          <mat-label>Nivel de Estudios</mat-label>
          <mat-select>
            <mat-option value="option1">Primaria</mat-option>
            <mat-option value="option2">Secundaria</mat-option>
            <mat-option value="option2">Bachillerato</mat-option>
            <mat-option value="option2">Bachillerato Tecnológico</mat-option>
            <mat-option value="option2">Licenciatura</mat-option>
            <mat-option value="option2">Posgrado</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Carrera o Posgrados</mat-label>
          <input matInput placeholder="Ex. algo@algo.com" value="">
        </mat-form-field>
        <mat-slide-toggle>Titulo Obtenido</mat-slide-toggle>

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Institución Educativa</mat-label>
          <input matInput placeholder="Ex. UNAM" value="">
        </mat-form-field>

      </mat-expansion-panel>
    </mat-accordion>

    <p></p>
    <p></p>

    <mat-accordion>
      <mat-expansion-panel>


        <mat-expansion-panel-header>
          <mat-panel-title> <b>Datos laborales </b> </mat-panel-title>
          <mat-panel-description> Verifique sus datos laborales. </mat-panel-description>
        </mat-expansion-panel-header>


        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Años laborando como Enfermer@/Cuidador@</mat-label>
          <input matInput placeholder="Ex. 3" value="">
        </mat-form-field>
        <mat-slide-toggle>Actualmente laboras en esta actividad?</mat-slide-toggle>



        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title> <b> Referencias </b></mat-panel-title>
            </mat-expansion-panel-header>


            <mat-accordion>
              <mat-expansion-panel>



                <mat-expansion-panel-header>
                  <mat-panel-title> <b> Referencia 1 </b></mat-panel-title>
                </mat-expansion-panel-header>



                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Nombres(s)</mat-label>
                  <input matInput placeholder="Ex. Juan" value="">
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Apellidos(s)</mat-label>
                  <input matInput placeholder="Ex. Perez" value="">
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Años laborados con referencia</mat-label>
                  <input matInput placeholder="Ex. 2" value="">
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Telefono Fijo</mat-label>
                  <input matInput placeholder="Ex. 9998887766" value="">
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Telefono celular</mat-label>
                  <input matInput placeholder="Ex. 5554443322" value="">
                </mat-form-field>
                <mat-form-field appearance="fill">
                  <mat-label>Nivel de Estudios</mat-label>
                  <mat-select>
                    <mat-option value="option1">Jefe</mat-option>
                    <mat-option value="option2">Colega</mat-option>
                    <mat-option value="option2">Compañero</mat-option>
                    <mat-option value="option2">Subordinado</mat-option>
                  </mat-select>
                </mat-form-field>

              </mat-expansion-panel>
            </mat-accordion>

            <p></p>

            <mat-accordion>
              <mat-expansion-panel>



                <mat-expansion-panel-header>
                  <mat-panel-title> <b> Referencia 2 </b></mat-panel-title>
                </mat-expansion-panel-header>



                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Nombres(s)</mat-label>
                  <input matInput placeholder="Ex. Juan" value="">
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Apellidos(s)</mat-label>
                  <input matInput placeholder="Ex. Perez" value="">
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Años laborados con referencia</mat-label>
                  <input matInput placeholder="Ex. 2" value="">
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Telefono Fijo</mat-label>
                  <input matInput placeholder="Ex. 9998887766" value="">
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Telefono celular</mat-label>
                  <input matInput placeholder="Ex. 5554443322" value="">
                </mat-form-field>
                <mat-form-field appearance="fill">
                  <mat-label>Nivel de Estudios</mat-label>
                  <mat-select>
                    <mat-option value="option1">Jefe</mat-option>
                    <mat-option value="option2">Colega</mat-option>
                    <mat-option value="option2">Compañero</mat-option>
                    <mat-option value="option2">Subordinado</mat-option>
                  </mat-select>
                </mat-form-field>

              </mat-expansion-panel>
            </mat-accordion>

          </mat-expansion-panel>
        </mat-accordion>

      </mat-expansion-panel>
    </mat-accordion>

    <p></p>
    <p></p>

    <div class="example-button-row">
      <button mat-raised-button color="primary" style="margin-right: 20px;">Guardar</button>
      <button mat-raised-button color="warn">Cancelar</button>
    </div>


  </mat-card-content>
</mat-card>