<mat-card>
  <mat-card-content>
    <mat-card-title>Informacion Personal</mat-card-title>
    <mat-form-field class="example-full-width">
      <mat-label>¿Por qué te gusta tu trabajo?</mat-label>
      <textarea matInput placeholder="Un breve texto ..."></textarea>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>¿Cuáles son aquellas características que te distinguen como Fidente?</mat-label>
      <textarea matInput placeholder="Un breve texto ..."></textarea>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Cuando estás realizando tu trabajo, ¿qué aspectos te aseguras de cumplir para mantener un buen desempeño?</mat-label>
      <textarea matInput placeholder="Un breve texto ..."></textarea>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Menciona 3 características que te describan como persona</mat-label>
      <textarea matInput placeholder="Un breve texto ..."></textarea>
    </mat-form-field>
    <div class="example-button-row">
      <button mat-raised-button color="primary">Guardar</button>
      <button mat-raised-button color="warn">Cancelar</button>
    </div>
  </mat-card-content>
</mat-card>

