<div fxLayout="row">
  <div fxFlex.gt-sm="100%" >
      <mat-card>
          <mat-card-content>
            <mat-card-title><h2>Especialidad</h2></mat-card-title>
            <mat-card-subtitle>Seleccione la configuracion de acuerdo a su especialidad.</mat-card-subtitle>
            <mat-grid-list cols="2" rowHeight="450px">
              <mat-grid-tile [style.background]="'white'">
                <form style="text-align: center;">
                  <img src="../../../assets/images/01bebes.png" alt="" style="width: 40%; height: 40%; text-align: center;">
                  <table class="example-full-width" cellspacing="30">
                    <tr>
                      <td>
                        <mat-slide-toggle class="example-margin">Bebés/Niños</mat-slide-toggle>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <mat-slide-toggle class="example-margin">Cuidador@</mat-slide-toggle>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <mat-slide-toggle class="example-margin">Enfermer@</mat-slide-toggle>
                      </td>
                    </tr>
                  </table>
                </form>
              </mat-grid-tile>
              <mat-grid-tile [style.background]="'white'">
                <form style="text-align: center;">
                  <img src="../../../assets/images/01bebes.png" alt="" style="width: 40%; height: 40%; text-align: center;">
                  <table class="example-full-width" cellspacing="30">
                    <tr>
                      <td>
                        <mat-slide-toggle class="example-margin">Bebés/Niños</mat-slide-toggle>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <mat-slide-toggle class="example-margin">Cuidador@</mat-slide-toggle>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <mat-slide-toggle class="example-margin">Enfermer@</mat-slide-toggle>
                      </td>
                    </tr>
                  </table>
                </form>
              </mat-grid-tile>
            </mat-grid-list>
          </mat-card-content>
      </mat-card>
  </div>
</div>
<div fxLayout="row">
  <div fxFlex.gt-sm="50%" >
      <mat-card>
          <mat-card-content>
            <mat-card-title>Básico</mat-card-title>
            <mat-card-subtitle>Seleccione las actividades que desempeña con gran eficiencia.</mat-card-subtitle>
            <mat-selection-list #shoes>
               <mat-list-option *ngFor="let shoe of typesOfShoes">
                  {{shoe}}
               </mat-list-option>
            </mat-selection-list>
            <p>
                Habilidades seleccionadas: {{shoes.selectedOptions.selected.length}}
            </p>
          </mat-card-content>
          <mat-card-content>
            <mat-card-title>Específico</mat-card-title>
            <mat-card-subtitle>Seleccione las actividades especificas que desempeña con gran eficiencia.</mat-card-subtitle>
            <mat-selection-list #shoes>
               <mat-list-option *ngFor="let shoe of typesOfShoes">
                  {{shoe}}
               </mat-list-option>
            </mat-selection-list>
            <p>
                Habilidades seleccionadas: {{shoes.selectedOptions.selected.length}}
            </p>
          </mat-card-content>
      </mat-card>
  </div>
  <div fxFlex.gt-sm="50%" >
    <mat-card>
      <mat-card-content>
        <mat-card-title>Básico</mat-card-title>
        <mat-card-subtitle>Seleccione las actividades que desempeña con gran eficiencia..</mat-card-subtitle>
        <mat-selection-list #shoess>
           <mat-list-option *ngFor="let shoe of typesOfShoes2">
              {{shoe}}
           </mat-list-option>
        </mat-selection-list>
        <p>
            Habilidades seleccionadas: {{shoess.selectedOptions.selected.length}}
        </p>
      </mat-card-content>
      <mat-card-content>
        <mat-card-title>Específico</mat-card-title>
        <mat-card-subtitle>Seleccione las actividades especificas que desempeña con gran eficiencia.</mat-card-subtitle>
        <mat-selection-list #shoes>
           <mat-list-option *ngFor="let shoe of typesOfShoes">
              {{shoe}}
           </mat-list-option>
        </mat-selection-list>
        <p>
            Habilidades seleccionadas: {{shoes.selectedOptions.selected.length}}
        </p>
      </mat-card-content>
  </mat-card>
  </div>
</div>

