<mat-card>
  <mat-card-content>
    <mat-card-title>Datos Generales</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Personal personales </mat-panel-title>
          <mat-panel-description> Verifique sus datos personales. </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-form-field>
          <input matInput placeholder="Nombre(s)">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Apellido Paterno">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Apellido Materno">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Fecha de Nacimiento</mat-label>
          <input matInput [matDatepicker]="picker">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field>

          <mat-label>Genero</mat-label>
          <mat-select>
            <mat-option value="option1">Femenino</mat-option>
            <mat-option value="option2">Masculino</mat-option>
          </mat-select>

        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Correo Electrónico">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Telefono Fijo">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Telefono Celular">
        </mat-form-field>
      </mat-expansion-panel>
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title> Dirección </mat-panel-title>
          <mat-panel-description>    Ingrese los datos de su direccion personal </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-form-field>
          <input matInput placeholder="Calle">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Numero Exterior">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Numero Interior">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Colonia">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Codigo Postal">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Delegacion o Municipio">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Ciudad">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Estado">
        </mat-form-field>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
</mat-card>

<mat-card-content>
  <mat-card-content>
    <mat-card>
      <mat-form-field class="example-chip-list">
        <mat-chip-list #chipList required>
          <input
            placeholder="Cutomer name"
            #fruitInput
            [matAutocomplete]="auto"
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="add($event)" >
        </mat-chip-list>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
            <button mat-button color="primary" class="add-button"><mat-icon id="create">add</mat-icon>
            Add New Customer
            </button>
          <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
            {{fruit}}
          </mat-option>
        </mat-autocomplete>
    </mat-form-field><div class="text-inside">
      <mat-chip class="outside"
      *ngFor="let fruit of fruits"
      [selectable]="selectable"
      [removable]="removable"
      (removed)="remove(fruit)">
      {{fruit}}
      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip>
  </div>

    </mat-card>
  </mat-card-content>
</mat-card-content>

<mat-card>
  <mat-card-content>
    <mat-card>
      <mat-card-content>
      <mat-card-title>Cobertura</mat-card-title>
      <mat-card-subtitle>¿En que zona quieres trabajar? </mat-card-subtitle>

        <mat-form-field class="demo-chip-list">
            <mat-chip-list #chipList>
              <mat-chip *ngFor="let fruit of fruits" [selectable]="selectable"
                       [removable]="removable" (removed)="remove(fruit)">
                {{fruit.name}}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              </mat-chip>
              <input placeholder="Zonas:"
                     [matChipInputFor]="chipList"
                     [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                     [matChipInputAddOnBlur]="addOnBlur"
                     (matChipInputTokenEnd)="add($event)" />
            </mat-chip-list>
          </mat-form-field>
      </mat-card-content>
    </mat-card>
    <div class="example-button-row">
      <button mat-raised-button color="primary" style="margin-right: 20px;">Guardar</button>
      <button mat-raised-button color="warn">Cancelar</button>
    </div>
  </mat-card-content>
</mat-card>

